body
{
  margin:0;
  width: 100vw;
  height: 100vh;
  background-color: #69B0AC;
  overflow-x: hidden;
}
body.scrpit
{
  position:fixed;
  left: 50%;
  top: 20%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.tohome {
  position: absolute;

  bottom: 1vw;
  left: 47%;
	background-color:#acc0c9;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:5px;
	padding:1.5vw 3vw;
	text-decoration:none;
}
.tohome:hover {
	background-color:#e6d5aa;
}
.tohome:active {
	position: absolute;
	bottom: 1.1vw;
}
