
body {
  display: absolute;
  margin: 0px;
  font-family: 'cwTeXFangSong';
  background-color: rgb(71, 71, 71);
  overflow-x: hidden;
/*  overflow: hidden;
  overflow-y: scroll;*/
}
@font-face {
  font-family: 'cwTeXFangSong';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}
/*
*{
  outline: solid rgb(4, 217, 245) 1px !important;
  color: #fff !important;
}
*/

/*1940s*/
.page1 {
  margin: auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b1.png");
  
}
.page1_box {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: auto;
  height: 30vw;
  
}
.logo{
  display: flex;
  margin: auto;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10vw 30vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/1940s_1940.png");
    
}
.logo:hover{
  transform: scale(1.1);
}

.page1_2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 8vw;

  
}
.logotext{
  display: flex;
  margin: auto;
  margin-top: 1.5vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2vw 30vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/1940s_text.png");
  animation-name: textmove;
  animation-duration: 2s;
  animation-iteration-count: 1; 
}
@keyframes textmove{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*讓我們用虛擬實境帶你穿回1940年代.
體驗當時歐洲人民的生活與戰爭的起承轉合*/
.page2 {
  margin: auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b2.png");
 

 
}
/*modify*/
.subp2_1{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  place-items: center;
  height: 40vw;
  color: white; 
  font-size: 0.5rem;
  
}
@media (min-width: 600px) and (max-width: 1200px) {
  .subp2_1 {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .subp2_1 {
     font-size: 1.3rem;
  }
}
.sub-section {
  opacity: 0; 
  transform: translateY(150px);
}

.sub-section.reveal {
  animation: reveal 1s forwards;
}

@keyframes reveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*modify*/

/*到酒吧 聽聽時局與民意,到密室 了解某些人被迫躲藏的生活,
到展場 知悉自由受限後無法聲張的藝術,到戰場 感受戰爭始末充斥的殘忍與無奈......*/
.page3 {
  margin: auto;
  height: 40vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b4.png");


 
}
.subp3_1{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  place-items: center; 
  color: white; 


  font-size: 0.5rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .subp3_1 {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .subp3_1 {
     font-size: 1.3rem;
  }
}
.video{
  position: relative;
  width: 45%;
  height: 0;
  padding-bottom: 25.5%;
  background-color: #ffffff;


}
.video iframe{
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 91%;


}
.subp3_2{
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 1.3%;
  left: 0.5%;
  text-align: end;
  justify-content: left;
  place-items: center;
  height: 1.5vw;
}

.video_item {
  margin-top: 0px;
  margin-left: 0px;
	background-color:#d0451b;
	border: 0;
  border-color: #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:4px;
	padding:0.5vw 0.8vw;
	text-decoration:none;
}
.video_item:hover {
	background-color:#e6d5aa;
}
.video_item:active {
	position:relative;
	top:1px;
}

.link{
  display: flex;
  margin: auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b4.png");
}
.link01{
  position: relative;
  display: flex;
  margin: 0;
  top: 25vw;
  left:78vw ;
}
.link02{
  position: relative;
  display: flex;
  margin: 0;
  top: 25vw;
  left: 75vw ;
}


/*章節文字介紹*/
.textp3{
  text-align: left;
  color: white;


}
.textp3_1{
  font-size: 0.5rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .textp3_1 {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .textp3_1 {
     font-size: 1.3rem;
  }
}
.textp3_2{
  font-size: 0.7rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .textp3_2 {
   font-size: calc(1.8rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .textp3_2 {
     font-size: 1.8rem;
  }
}
.textp3_3{
  font-size: 0.5rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .textp3_3 {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .textp3_3 {
     font-size: 1.3rem;
  }
}


/*章節介紹圖*/
.page4 {
  margin: auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b4.png");


}


/*沉澱一下，思考一下。*/
.page5 {
  margin: auto;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b5.png");

  z-index: 1;
}
.subp5{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  place-items: center;
  height: 45vw;
  color: white; 
  font-size: 1.2rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .subp5 {
   font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .subp5 {
     font-size: 1.3rem;
  }
}


/*問題討論*/
.page6 {
  display: flex;
  margin: auto;
  height: 45vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  
  background-image: url("https://aliceinsomnia.github.io/svg/problem.jpg");
/*  box-sizing: border-box;
  border: solid 1px red;*/
}

.page6_radition
{
  display: flex;
  margin: 0;
  position: relative;
  left:-2vw;
  top: 0vw;
  height: 72vw;
  width: 95vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;

/*  box-sizing: border-box;
  border: solid 1px red;*/
}

/*
.page6_flyplane
{
  display: flex;
  margin: 0;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  

  
  left: -110vw;
  top: 0vw;
  height: 30vw;
  width: 15vw;
  z-index: 1;

  box-sizing: border-box;
  border: solid 1px red;
}*/
.page6_redCloudBack{
  display: flex;
  margin: 0;
  position: relative;
  background-image: url();
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  

  height: 30.7vw;
  width: 120vw;
  left: -95.3vw;
  top: 23vw;
  z-index: 1;

 /* box-sizing: border-box;
  border: solid 1px red;*/
}
.page6_redCloudFull{
  display: flex;
  margin: 0;
  position: relative;
  left: -240vw;
  top: 34vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vw;
  width: 115vw;

  z-index: 2;
  
}
.page6_text
{
  display: flex;
  margin: 0;
  position: relative;
  left: -300%;
  top: 18vw;
  height: 10vw;
  width: 30vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

/*  box-sizing: border-box;
  border: solid 1px red;*/
}
.page6_leftRedCloud{
  display: flex;
  margin: 0;
  position: relative;
  left: -117vw;
  top: 48vw;
  height: 42vw;
  width: 35vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.page6_leftWhiteCloud{
  display: flex;
  margin: 0;
  position: relative;
  left: -367vw;
  top: -3.2vw;
  height: 35vw;
  width: 30vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.page6_rightWhiteCloud{
  display: flex;
  margin: 0;
  position: relative;
  left: -306vw;
  top: -2.5vw;
  height: 35vw;
  width: 30vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
/*  box-sizing: border-box;
  border: solid 1px red;*/
}
.page6_whiteCloudFull{
  display: flex;
  margin: 0;
  position: relative;
  left: -412vw;
  top: -9vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vw;
  width: 115vw;

  z-index: 1;
  
}

/*問題一*/
.page7 {
  display: flex;
  margin: auto;
  

  height: 60vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
/*  background-image: url("https://aliceinsomnia.github.io/svg/1.jpg");*/
  z-index: 1;
}
.page7_2{
  z-index: 0;
  display: flex;
  position: relative;
  height: 63.5vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.page7_person{
  display: flex;
  position: relative;
  margin: 0;
  left: -60vw;
  top: 15vw;
  height: 40vw;
  width: 35vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
/*  box-sizing: border-box;
  border: solid 1px red;*/

}
.page7_question{
  display: flex;
  position: relative;
  margin: 0;
  height: 20vw;
  width: 22vw;
  left: -50vw;
  top: 40vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;
/*  box-sizing: border-box;
  border: solid 1px red;*/

}
.page7_question:hover{
  transform: scale(1.1);
}

/*問題二*/
.page8 {
  display: flex;
  margin: auto;
  justify-content: left;
  justify-content: space-around;
  place-items: flex-end normal;
  height: 45vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://aliceinsomnia.github.io/svg/2.jpg");
}
.page8_question{
  display: flex;
  margin: 0;
  height: 22vw;
  width: 22vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;

}
.page8_question:hover{
  transform: scale(1.1);
}

/*問題三*/
.page9 {
  display: flex;
  margin: auto;
  justify-content: space-around;
  place-items: flex-end normal;
  height: 45vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://aliceinsomnia.github.io/svg/3_bg.png");
}
.page9_person{
  display: flex;
  margin: 0;
  height: 38vw;
  width: 25vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.page9_question{
  display: flex;
  margin: 0;
  height: 22vw;
  width: 22vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;

}
.page9_question:hover{
  transform: scale(1.1);
}

/*問題四*/
.page10 {
  display: flex;
  margin: auto;
  height: 45vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://aliceinsomnia.github.io/svg/4.jpg");
}
.page10_person{
  display: flex;
  margin: 0;
  height: 30vw;
  width: 40vw;
  position: relative;
  top: 3.5vw;
  left: 15.5vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.page10_question{
  display: flex;
  margin: 0;
  height: 22vw;
  width: 22vw;
  position: relative;
  top: 25vw;
  left: 32.5vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor:pointer;

}
.page10_question:hover{
  transform: scale(1.1);
}

/*成員介紹*/
.page11 {
  display: flex;
  margin: auto;;
  height: 45vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b11_1.png");


}
.subp11_1{
  display: flex;
  margin: auto;
  height: 30vw;
  justify-content: center;
  place-items: center;
  
}
.member1{
  margin: 2vw;
  height: 20vw;
  width: 15vw;
  transition: 0.5s;
  background: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/pic/personal_yunPicture.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;

}
.member1:hover {
  background-blend-mode: multiply;
  background-image: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/personal_yunWord2.png);
  background-size: cover;
  background-position: center center;
}

.member2{
  margin: 2vw;
  height: 20vw;
  width: 15vw;
  transition: 0.5s;
  background: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/pic/personal_fuPicture.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;


}
.member2:hover {
  background-blend-mode: multiply;
  background-image: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/personal_fuWord2.png);
  background-size: cover;
  background-position: center center;
}

.member3{
  margin: 2vw;
  height: 20vw;
  width: 15vw;
  transition: 0.5s;
  background: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/pic/personal_chunPicture.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;


}
.member3:hover {
  background-blend-mode: multiply;
  background-image: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/personal_chuniWord2.png);
  background-size: cover;
  background-position: center center;
}

.member4{
  margin: 2vw;
  height: 20vw;
  width: 15vw;
  transition: 0.5s;
  background: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/pic/personal_kikiPicture.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;


}
.member4:hover {
  background-blend-mode: multiply;
  background-image: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/personal_kikiWord2.png);
  background-size: cover;
  background-position: center center;
}

.subp11_2{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white; 
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/b11_2.png");


  
  margin: 0;
  font-size: 1rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .sub11_2{
   font-size: calc(1rem + (1.3-1) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  .sub11_2{
     font-size: 1rem;
  }
}

/*場景介紹*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cont {
  position: relative;
  overflow: hidden;
  height: 90vh;
  padding: 80px 70px;
}
.cont__inner {
  position: relative;
  height: 100%;
}
.cont__inner:hover .el__bg:after {
  opacity: 1;
}

.el {
  position: absolute;
  left: 0;
  top: 0;
  width: 24%;
  height: 100%;
  background: gray;
  box-sizing: border-box;
  border: solid 12px rgb(48, 42, 36); 

  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
.el:not(.s--active) {
  cursor: pointer;
}
.el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}
.cont.s--inactive .el__inner {
  transform: translate3d(0, 100%, 0);
}
.el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  transition: transform 0.6s 0.7s;
  will-change: transform;
}
.el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .el__bg:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}
.el.s--active .el__bg:before {
  transition: transform 0.8s;
}
.el__bg:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
}
.cont.s--el-active .el__bg:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.el__preview-cont {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.cont.s--inactive .el__preview-cont {
  opacity: 0;
  transform: translateY(10px);
}
.cont.s--el-active .el__preview-cont {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
.el__heading {
  color: rgb(189, 189, 189);
  text-transform: uppercase;
  font-size: 25px;
}
.el__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.el.s--active .el__content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.el__text {
  text-transform: uppercase;
  font-size: 42px;
  font-weight:bold;
  color: rgb(224, 224, 224);

}
.el__close-btn {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.el.s--active .el__close-btn {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.el__close-btn:before, .el__close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
  opacity: 1;
}
.el__close-btn:before {
  transform: rotate(45deg) translateX(100%);
}
.el.s--active .el__close-btn:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.el__close-btn:after {
  transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el__close-btn:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}
.el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 13vw;
  line-height: 0.85;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
.el:hover .el__index {
  transform: translate3d(0, 0, 0);
}
.cont.s--el-active .el__index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
.el__index-back, .el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.el__index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.el:hover .el__index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.el__index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}
.el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}
.el:hover .el__index-overlay {
  transform: translate3d(0, 0, 0);
}
.el:hover .el__index-overlay:before {
  transform: translate3d(0, 0, 0);
}
.el:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(1) .el__inner {
  transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
  transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
  transition-delay: 0s;
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/1_nowords.png");

}
.el:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
  transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(2) .el__inner {
  transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
  transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
  transition-delay: 0.1s;
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/2_nowordsRE3.png");
}
.el:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
  transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(3) .el__inner {
  transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
  transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
  transition-delay: 0.2s;
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/3_nowords.png");
}
.el:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(4) .el__inner {
  transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
  transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
  transition-delay: 0.3s;
  background-image: url("https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/4_nowords.png");
}

.el:hover .el__bg:after {
  opacity: 0;
}
.el.s--active {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.el.s--active .el__bg {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}
.el.s--active .el__bg:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}
.el__words1 {
  position:absolute;
  top:50%;
  right: 150px;
  font-size: 24px;
  line-height: 120%;
  color: #f1efee;
}
.el__words2 {
  position:absolute;
  top:30%;
  right: 100px;
  font-size: 24px;
  line-height: 120%;

  color: #f1efee;
}
.el__words3 {
  position:absolute;
  top:50%;
  left:150px;
  font-size: 24px;
  line-height: 120%;

  color: #f1efee;
}

.el__words4 {
  position:absolute;
  top:50%;
  left:150px;
  font-size: 24px;
  line-height: 120%;

  color: #f1efee;
}





/*回到頂部*/
#button {
  display: inline-block;
  background-image: url(https://raw.githubusercontent.com/itsactuallykiki/forWebsite/main/1940s_plane.png);
  background-size: cover;
  background-position: center;
  width: 9vw;
  height: 5vw;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
}
#button:hover {
  cursor: pointer;
  opacity: 1;
  width: 9vw;
  height: 5vw;
  animation-name: planemove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes planemove{
 0%{
    bottom: 30px;
    right: 30px;
 }
 100%{
    bottom: 80px;
    right: 30px;
 }
}
#button:active {
  width: 9vw;
  height: 5vw;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*video*/
